.roll-down {
	animation: roll-down 500ms ease-in-out;
}
.roll-up {
	animation: roll-up 500ms ease-in-out;
}
@keyframes roll-down {
	0% {
		transform: translateY(-25px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes roll-up {
	0% {
		transform: translateY(25px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}